.p:hover {
    color: blue;
}

.h:hover {
    color: blueviolet;
}

.i:hover {
    color: brown;
}

.a:hover {
    color: burlywood;
}

.c:hover {
    color: cadetblue;
}

.ol:hover {
    color: chartreuse;
}

.ul:hover {
    color: chocolate;
}

.q:hover {
    color: coral;
}

.e:hover {
    color: cornflowerblue;
}

.f:hover {
    color: rgb(202, 167, 24);
}

.m:hover {
    color: crimson;
}

.ex:hover {
    color: cyan;
}

.so:hover {
    color: darkblue;
}

.su:hover {
    color: darkcyan;
}

.cc:hover {
    color: darkgoldenrod;
}

.ld:hover {
    color: darkgreen;
}

.b:hover {
    color: darkorange;
}

.em:hover {
    color: darkred;
}

.hr:hover {
    color: dimgray;
}

